<a href="https://colab.research.google.com/github/RaviSiddu/Python-DataStructures/blob/master/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List Creation

In [3]:
list=[]
list1=["ravi","siddu","prasad"]
list2=[2,3,4,5,6,7]
list3=[[1,2,3],['ravi','jan','meghana']]
print(lis)

[[1, 2, 3], ['ravi', 'jan', 'meghana']]

List Length

In [5]:
list=[2,3,4,5,6,7,8,9]
#find the length of the list
print(len(list))

8

List Append

In [8]:
list=['ravi','balu','srinu']
list.append('meghana') #append will add element at the end
print(list)

['ravi', 'balu', 'srinu', 'meghana']

List Insert

In [9]:
lis=['ravi','rama','ramu','sai']
lis.insert(2,'prasad')
print(lis)

['ravi', 'rama', 'prasad', 'ramu', 'sai']

List Remove

In [10]:
lis=[2,3,4,5,6,7,3,4,5]
lis.remove(5) #it will remove the first occurence of the five
print(lis)

[2, 3, 4, 6, 7, 3, 4, 5]

List Append and Extend

In [12]:
l1=[1,2,3,4,5,6]
l2=['ravi','ramu','srinu']
l1.append(l2) 
print(l1)

[1, 2, 3, 4, 5, 6, ['ravi', 'ramu', 'srinu']]

In [14]:
l1=[1,2,3,4,5,6]
l2=['ravi','ramu','srinu']
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 'ravi', 'ramu', 'srinu']

List Delete

In [16]:
lis=[2,3,4,5,6,6,7]
del lis[2]
a=lis.pop(1)
print(a)
print(lis)

3
[2, 5, 6, 6, 7]

In [17]:
l2=['ravi','ramu','srinu']
l2.remove('ramu')
print(l2)

['ravi', 'srinu']

List Reverse

In [18]:
l2=['ravi','ramu','srinu']
l2.reverse()
print(l2)

['srinu', 'ramu', 'ravi']

List Sorting

In [19]:
l2=['ravi','ramu','srinu']
l2.sort()
print(l2)

['ramu', 'ravi', 'srinu']

Looping

In [21]:
l2=['ravi','ramu','srinu']
for ele in l2:
  print(l2)

['ravi', 'ramu', 'srinu']
['ravi', 'ramu', 'srinu']
['ravi', 'ramu', 'srinu']

List Comprahension

In [27]:
#without list comprahension
"""sq=[]
for i in range(10):
  sq.append(i**2)"""
#with comprahension
sq=[i**2 for i in range(10)]
print(sq)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [28]:
lis=[10,20,30,-10,-20,-30]
l1=[i*2 for i in lis]
print(l1)

[20, 40, 60, -20, -40, -60]

In [30]:
lis=[10,20,30,-10,-20,-30]
l1=[i*2 for i in lis if i>=0]
l2=[(i,i**2)for i in range(10)]
print(l2)
print(l1)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]
[20, 40, 60]

Transpose of a matrix

In [32]:
#without the comprahension
matrix=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
transpose=[]
for i in range(4):
  lis=[]
  for row in matrix:
    lis.append(row[i])
  transpose.append(lis)
print(transpose)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [33]:
#with comprahension
transpose=[[row[i] for row in matrix] for i in range(4)]
print(transpose)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]