<a href="https://colab.research.google.com/github/RaviSiddu/Python-DataStructures/blob/master/Set_pra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set

set creation

In [2]:
s={1,2,3,4,4,5,5,6,6,6,7}
aprint(s) #set doesnot allow duplicate elements

{1, 2, 3, 4, 5, 6, 7}

In [3]:
s=set([1,2,3,4,4]) #convert the list into the set
print(s)

{1, 2, 3, 4}

Addtion of elements into the set

In [6]:
s={1,2,3,4,4,5,5,6,6,6,7}
s.add(10) #using add we can add a single element
print(s)
s2={1,2,3,4,4,5,5,6,6,6,7}
s2.update([88,77,66]) # using the update we can add multiple elements
print(s2)

{1, 2, 3, 4, 5, 6, 7, 10}
{1, 2, 3, 4, 5, 6, 7, 66, 77, 88}

Remove Element from a Set

In [12]:
s={1,2,3,4,4,5,5,6,6,6,7}
#s.discard(9)
#s.remove(3)
s.pop() #pop method removes random element for the set
print(s)

{2, 3, 4, 5, 6, 7}

Clear Method

In [14]:
s={1,2,3,4,4,5,5,6,6,6,7}
s.clear()
print(s)

set()

# Python Set Operation

In [22]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
print(set1|set2) #union of sets using | operator
print(set1&set2)
#intersection operation
print(set1.intersection(set2))
print(set1.union(set2))
#difference operation
print(set1-set2)
print(set1.difference(set2))
#symmetric difference
print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{1, 2}
{1, 2, 6, 7}