<a href="https://colab.research.google.com/github/RaviSiddu/Python-DataStructures/blob/master/Tuple_Prac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

In [3]:
#Tuple creation
t=('ravi','ramu','prasad')
print(t)

('ravi', 'ramu', 'prasad')

In [5]:
#nested tuple
t=((1,2,3,4),'ravi','prasad')
print(t)

((1, 2, 3, 4), 'ravi', 'prasad')

In [9]:
t=('ravi','prasad')
print(type(t))

<class 'tuple'>

Accessing the Elements in Tuple

In [13]:
t=(1,2,3,4,5,6,7,8)
print(t[1])
print(t[-1])
print(t[2:4])
print(t[:4])

2
8
(3, 4)
(1, 2, 3, 4)

In [15]:
#nested tuples
name=('ravi',('prasad','ramu','raju'))
print(name[1])
print(name[1][1])

('prasad', 'ramu', 'raju')
ramu

#Changing the Tuple 
 ->unlike the list,tuples are immutable .
 
 ->This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [23]:
t=(1,2,3,4,5,['ravi','ramu','rama'])
t2=(3,4,5,6,7)
#print(t)
t[5][2]='megha'
print(t+t2)
print(t)
print(('megha')*4)

(1, 2, 3, 4, 5, ['ravi', 'ramu', 'megha'], 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, ['ravi', 'ramu', 'megha'])
meghameghameghamegha

In [28]:
#tuple deletion
t=(2,3,4,5,6,7)
del t
#tuple Count
t=(2,3,4,5,6,7)
print(t.count(3)) #get the frequency of particular element appears in a tuple
#tuple indexing
print(t.index(2))  #return index of the first element is equal to 2

1
0

Membership

In [29]:
t=(2,3,4,5,6,7)
print(2 in t)

True

Built in Functions

Length

In [30]:
t=(2,3,4,5,6,7)
print(len(t))

6

Sort

In [37]:
t=(3,2,6,4,8,7)
t2=sorted(t)
print(t2)
print(max(t2))
print(sum(t2))

[2, 3, 4, 6, 7, 8]
8
30